
$orange: #ff9a18;
$headColor: #222222;
$darkBlack: #252525;
$darkBlackFoure: #2a2a2a;
$darkBlackThree: #020202;
$darkBlackTwo: #8d8d8d;
$grayColor: #777777;
$grayLightColor: #f7f7f7;
$white: #fff;
$black: #000;
$altoGray: #dddddd;
$lightGray: #e2e4ea;
$extraLightColor: #f2f2f2;
$lightGrayColor: #eeeeee;
$lightGrayTwo: #f0f1f3;
$navyBlue: #061838;
$lightBlue: #d9edf8;
$lightBlueOne: #e1eef7;
$lightBlueTwo: #ecf3f8;
$Nepal: #8a9dbd;
$LinkWater: #e1e9f6;
$Downriver: #091544;
$Magnolia: #f9f8ff;

$rtl: rtl;
// ********** media query  variables **********
$xll: "only screen and (max-width : 1440px)";
$xl: "only screen and (max-width : 1199px)";
$lg: "only screen and (max-width : 1024px)";
$md: "only screen and (max-width: 991px)";
$sm: "only screen and (max-width: 767px)";
$xs: "only screen and (max-width: 575px)";
